* { 
    box-sizing: border-box; 
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-family: 'Spartan', Arial, Helvetica, sans-serif;}
*:focus, *:active, *:visited { outline: none; }

/* 0. Miscellaneous */
.amaravati-color-1 { color: #BA2937; }
.amaravati-color-2 { color: #5A5A5A; }
.amaravati-color-3 { color: #686868; }
.btn-lihat-detail {
    background-color: #BA2937;
    border-radius: 2px;
    color: #fefefe;
}
.btn-submit-form {
    background-color: #BA2937;
    border-radius: 20px;
    color: #fefefe;
}
.small-heading-border { position: relative; }
.small-heading-border::after {
    position: absolute;
    content: '';
    width: 140px;
    height: 0;
    border: 2px solid #D9D9D9;
    top: 10px;
    margin-left: 20px;
}
/* 1. Home-Page-styling */
/* -- Slider-section -- */
.portfolio-projects {
    position: relative;
    display: flex;
    max-width: 1400px;
    margin: auto;
    transform: opacity 1200s ease-in-out;
    opacity: 1;
}
.portfolio-projects .slick-list {
    flex-basis: 90%;
    padding-bottom: 8vh;
}
.portfolio-projects .slick-list::before {
    position: absolute;
    content: '';
    top: 50px;
    left: -50px;
    bottom: -50px;
    right: 50px;
    background-image: url('../images/samples/svg/Rectangle_1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    z-index: 0;
}
.portfolio-projects .slick-dots {
    flex-basis: 10%;
    display: flex;
    margin: 0;
    padding: 0 0 8vh 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.portfolio-projects .slick-dots li {
    padding: 8px;
    margin-bottom: 9px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.portfolio-projects .slick-dots button { display: none; }
.portfolio-projects .slick-dots .slick-active {
    border: 2px solid #BA2937;
    background-color: #BA2937;
}

/* -- Vision-section --*/
.vision-section { 
    position: relative;
    overflow: hidden;
}
.vision-section::before {
    position: absolute;
    content: '';
    top: 0;
    right: -330px;
    left: 0;
    bottom: 0;
    background: url('../images/samples/svg/Rectangle_1.svg') no-repeat;
    background-size: 100% 100%;
    background-position: 100% 0px;
    z-index: 0;
}

.vision-section__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* -- Featured-project-section -- */
.featured-section { position: relative; }
.featured-section::before {
    position: absolute;
    content: '';
    top: 22vh;
    left: -2vw;
    right: 6vw;
    bottom: 16vh;
    background-image: url('../images/samples/svg/Rectangle_1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.featured-project__item,
.featured-project__item:hover {
    text-decoration: none;
}
.featured-project .slick-dots {
    display: flex;
    justify-content: center;
    padding-top: 4.6vh;
    list-style-type: none;
}
.featured-project .slick-dots li {
    padding: 8px;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.featured-project .slick-dots button { display: none; }
.featured-project .slick-dots .slick-active {
    border: 2px solid #BA2937;
    background-color: #BA2937;
}

/* -- Highlight-section -- */
.highlight-interior__item, 
.highlight-fasilitas__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.highlight-blueprint { position: relative; }
.highlight-blueprint::before {
    position: absolute;
    content: '';
    top: 39vh;
    left: 0vh;
    right: 0vh;
    bottom: 0vh;
    background-image: url('../images/samples/svg/Rectangle_1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

/* 2. Property-page-styling */
/* -- Navigation-section -- */
.navigation__logo {
    width: 160px;
    height: auto;
}
.navigation .navbar-nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

/* -- Property-header-section -- */
.property-header { 
    position: relative;
    max-width: 1400px;
    margin: auto; 
}
.property-header__img {
    position: relative;
}
.property-header__img::before {
    position: absolute;
    content: '';
    top: 0vh;
    left: 0vh;
    right: 13vh;
    bottom: -8vh;
    background-image: url('../images/samples/svg/Rectangle_1.svg');
    background-size: cover;
    background-position: 0 0;
    z-index: 0;
}
.property-header__img img { 
    position: relative;
    z-index: 1;
}
.property-header .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.property-header__description {
    background-color: rgba(255, 255, 255, 0.79);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* -- Featured-housing-section -- */
.featured-housing__section { position: relative; }
.featured-housing__section::before {
    position: absolute;
    content: '';
    top: 9vh;
    left: 0;
    right: 0;
    bottom: 9vh;
    background-image: url('../images/samples/svg/Rectangle_1.svg');
    background-size: cover;
    background-position: 0 0;
}
.featured-housing__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.line-red-left, .line-red-right { position: relative; }
.line-red-left::before {
    position: absolute;
    content: '';
    width: 120px;
    height: 0;
    border: 2px solid #BA2937;
    top: 15px;
    left: -130px;
    margin-left: 0;
    z-index: 2;
}
.line-red-right::after {
    position: absolute;
    content: '';
    width: 120px;
    height: 0;
    border: 2px solid #BA2937;
    top: 15px;
    right: -130px;
    margin-left: 0;
    z-index: 2;
}

/* -- Facilities-section -- */
.facilities__content { justify-content: center; }
.facilities__content img {
    display: block;
    margin: auto;
}
.facilities__content span { text-align: center; }

/* -- Map-address-section -- */
.map-address {
    background-image: url('../images/samples/svg/Rectangle_1.svg');
    background-size: cover;
    background-position: 0 0;
}

/* 3. Housing-page-styling */
/* -- House-header-section -- */
.house-header { 
    position: relative;
    max-width: 1400px;
    margin: auto; 
}
.house-header__img {
    position: relative;
}
.house-header__img::before {
    position: absolute;
    content: '';
    top: 0vh;
    left: 0vh;
    right: 13vh;
    bottom: -8vh;
    background-image: url('../images/samples/svg/Rectangle_1.svg');
    background-size: cover;
    background-position: 0 0;
    z-index: 0;
}
.house-header__img img { 
    position: relative;
    z-index: 1;
}

/* -- Floorplan-section -- */
.floorplan__blueprint { position: relative; }
.floorplan__blueprint::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/samples/svg/Rectangle_1.svg');
    background-position: 0 0;
    background-size: cover;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {}
@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 767px) {}
@media only screen and (max-width: 560px) {}