* { box-sizing: border-box; }
*:focus, *:active, *:visited { outline: none; }

/* 0. Miscellaneous */
.amaravati-color-1 { color: #BA2937; }
.amaravati-color-2 { color: #5A5A5A; }
.amaravati-color-3 { color: #686868; }
/* 1. Home-Page-styling */
/* -- Slider-section -- */
.portfolio-projects {
    position: relative;
    display: flex;
    max-width: 1400px;
    margin: auto;
}
.portfolio-projects .slick-list { 
    flex-basis: 90%;
    padding-bottom: 8vh;
}
.portfolio-projects .slick-list::before {
    position: absolute;
    content: '';
    top: 50px;
    left: -50px;
    bottom: -50px;
    right: 50px;
    background-image: url('../images/samples/svg/Rectangle_1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    z-index: 0;
}
.portfolio-projects .slick-dots {
    flex-basis: 10%;
    display: flex;
    margin: 0;
    padding: 0 0 8vh 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.portfolio-projects .slick-dots li {
    padding: 8px;
    margin-bottom: 9px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.portfolio-projects .slick-dots button { display: none; }
.portfolio-projects .slick-dots .slick-active {
    border: 2px solid #BA2937;
    background-color: #BA2937;
}

@media only screen and (max-width: 1200px) {}
@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 767px) {}
@media only screen and (max-width: 560px) {}

/* -- Vision-section --*/
.vision-section { 
    position: relative;
    overflow: hidden;
}
.vision-section::before {
    position: absolute;
    content: '';
    top: 0;
    right: -330px;
    left: 0;
    bottom: 0;
    background: url('../images/samples/svg/Rectangle_1.svg') no-repeat;
    background-size: 100% 100%;
    background-position: 100% 0px;
    z-index: 0;
}

.vision-section__item {
    display: flex;
    flex-direction: column;
    align-self: center;
}

/* -- Featured-project-section -- */
.featured-project__heading { position: relative; }
.featured-project__heading::after {
    position: absolute;
    content: '';
    width: 140px;
    height: 0;
    border: 2px solid #D9D9D9;
    top: 10px;
    margin-left: 20px;
}
.featured-project__item,
.featured-project__item:hover {
    text-decoration: none;
}
.featured-project .slick-list::before {
    position: absolute;
    content: '';
    top: 50px;
    left: -50px;
    bottom: -50px;
    right: 50px;
    background-image: url('../images/samples/svg/Rectangle_1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    z-index: 0;
}
.featured-project .slick-dots {
    display: flex;
    justify-content: center;
    padding-top: 4.6vh;
    list-style-type: none;
}
.featured-project .slick-dots li {
    padding: 8px;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.featured-project .slick-dots button { display: none; }
.featured-project .slick-dots .slick-active {
    border: 2px solid #BA2937;
    background-color: #BA2937;
}

/* -- Highlight-interior-section -- */
.highlight-interior__item, 
.highlight-fasilitas__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}